@media screen and (max-width: 1920px) {
    .chessPeices {
        background-image: url('../../Assets/Paralax/chessPeices.png');
    }
}

@media screen and (max-width: 2560px) {
    .chessPeices {
        background-image: url('../../Assets/Paralax/chessPeices_2560x1440.png');
    }
}

@media screen and (max-width: 3840px) {
    .chessPeices {
        background-image: url('../../Assets/Paralax/chessPeices_1_3840x2160.png');
    }
}

.chessPeices {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theGig{
    width: 35em;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.Vinyl{
    width: 400px;
    height: 400px;
}
.rightGirl{
    width: 279px;
    height: 500px
}
.leftGirl{
    width: 297px;
    height: 500px
}